################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EP.SOLID/v17/.suo
/.vs/EP.SOLID/FileContentIndex/7c02d452-6e8d-4384-8475-7a6d00fab9a3.vsidx
